<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1884.1064475963772!2d72.83927625795558!3d19.185901529989835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6e56c822bb5%3A0x599e104681173a7e!2sMalad%2C%20Liberty%20Garden%2C%20Malad%20West%2C%20Mumbai%2C%20Maharashtra%20400064!5e0!3m2!1sen!2sin!4v1607670525233!5m2!1sen!2sin"
     width="100%" height="450" frameborder="0"
     style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>